@{
    ViewData["Title"] = "Home Page";
}

<div id="map"></div>

@section Scripts
{
    <script>
        mapboxgl.accessToken = '@ViewBag.MapboxToken';
        
        const map = new mapboxgl.Map({
            container: 'map', // container IDv
            style: {
                'version': 8,
                'sources': {
                   'nztopo-tiles': {
                       'type': 'raster',
                       'tiles': [
                           '/tiles/{z}/{x}/{y}'
                       ],
                       'scheme': 'tms',
                       'tileSize': 256
                   }
                },
                'layers': [
                   {
                       'id': 'nztopo',
                       'type': 'raster',
                       'source': 'nztopo-tiles'
                   }
                ]
            },
            minZoom: 5,
            maxZoom: 14,
            center: [174.6918153, -41.2442198],
            zoom: 5 // starting zoom
        });
        
        map.on('zoomend', (x)=> {
            const {lng, lat} = map.getCenter();
            const zoom = map.getZoom();
            
            window.location.hash = lng + ','+ lat + '&z=' + zoom; 
        });
        
        map.on('moveend', (x)=> {
            const {lng, lat} = map.getCenter();
            const zoom = map.getZoom();
            
            window.location.hash = lng + ','+ lat + '&z=' + zoom; 
        });
    </script>
}