@{
    ViewData["Title"] = "Home Page";
}

<div id="map"></div>

@section Scripts
{
    <script>
        mapboxgl.accessToken = 'pk.eyJ1IjoiZHdueiIsImEiOiJjamM3OWNibmkxcHM1MndqZG1peGRoaXBtIn0.lGkgRJ55UTVTVyAOYBX7hw';
        
        const map = new mapboxgl.Map({
            container: 'map', // container ID
            style: {
                'version': 8,
                'sources': {
                   'nztopo-tiles': {
                       'type': 'raster',
                       'tiles': [
                           '/tiles/{z}/{x}/{y}'
                       ],
                       'scheme': 'tms',
                       'tileSize': 256
                   }
                },
                'layers': [
                   {
                       'id': 'nztopo',
                       'type': 'raster',
                       'source': 'nztopo-tiles'
                   }
                ]
            },
            center: [174.6918153, -41.2442198],
            zoom: 9 // starting zoom
        });
    </script>
}